/* width宽度，height高度，padding内边距，margin外边距，list-style列表样式，display: flex弹性盒
justify-content: space-between;align-items: center;排列方式（水平|垂直），background背景，box-sizing计算方式
position定位，vertical-align垂直对齐text-align水平对齐，line-height行高,text-decoration去掉a的默认,
transform: rotate()旋转，border边框，border-radius圆角，font-size字体大小，color字体颜色 */
#DataAssetChange{
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
}
.top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
    box-sizing: border-box;
}
.top h5{
    font-size: 24px;
    color:#4E4E4E;
}
.top h6{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top h6 span {
    width: 88px;
    height: 34px;
    border: 1px solid #778199;
    border-radius: 2px;
    font-size: 12px ;
    color:#778199;
    line-height: 34px;
    text-align: center;
    margin-left: 10px;
}
.box{
    padding: 20px 26px;
    box-sizing: border-box;
    width: 100%;
    background: #fff;
    border: 1px solid #E3E7F1;
    border-radius: 4px;
    margin-bottom: 30px;
}
.box h4{
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #010F35;
    margin-bottom: 20px;
}
.box ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.box ul li{
    width: 30%;
    margin-left: 6px;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.box ul li h5{
    font-size: 12px;
    color: #778199;
    line-height: 18px;
    margin-bottom: 10px;
}
.el-dropdown{
    width: 100%;
    height: 30px;
    border: 1px solid #E3E7F1;
    border-radius: 2px;
    box-sizing: border-box;
    
}

.box ul li .el-dropdown span{
    display: inline-block;
    padding-left: 10px;
    width:100%;
    height: 100%;
    line-height: 30px;
    box-sizing: border-box;
}
.el-dropdown .el-dropdown-link i{
    position: absolute;
    right:0;
    width: 28px;
    height: 28px;
    background: #F5F6FA;
    line-height: 30px;
    text-align: center;
}
.box ul li input{
    width: 100%;
    height: 30px;
    border: 1px solid #E3E7F1;
    border-radius: 2px;
    box-sizing: border-box;
}
.bottom{
    width: 100%;
    height: auto;
    background: #fff;
    box-sizing: border-box;
}
.bottom table{
    width: 100%;
    background: #fff;
    box-sizing: border-box;
}
.bottom table thead,.bottom table thead tr{
    width: 100%;
    height: 36px;
    background: #E8F0FF;
    border-radius: 4px 4px 0 0;
    box-sizing: border-box;
}
.bottom table thead tr th{
    font-size: 12px;
    color: #9CAFD1;
}
.bottom table tbody{
    width: 100%;
    box-sizing: border-box;
}
.bottom table tbody tr{
    width: 100%;
    height: 44px;
    padding:0 10px;
    box-sizing: border-box;
}
.bottom table tbody tr td:first-child{
    width: 50px;
}
.bottom table tbody tr td:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom table tbody tr td:last-child a{
    color:#778199;
    text-decoration: none;
}
.bottom table tbody tr:nth-child(2n){
    background: #FCFCFC;
}
.bottom table tbody tr td{
    text-align: center;
    height: 44px;
    font-size: 12px;
    color: #778199;
    border-bottom: solid 1px #ccc;
}
.bottom table tbody tr td:last-child i{
    font-size: 18px;
    margin-left: 6px;
    cursor: pointer
}
.bottom table tbody tr span.sub{
    background: #EAFFF0;
    border-radius: 4px;
    padding: 4px 8px;
    color: #64CB7F;
}
.bottom table tbody tr td:nth-child(4),
.bottom table tbody tr td:nth-child(5){
    overflow: hidden;
}
.bottom table tbody tr span.pensub{
    background: #FFF1EA;
    border-radius: 4px;
    color: #FFA97B;
    padding: 4px 8px;
}
.bottom table tbody tr em{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border:solid 1px #778199;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
}
#DataAssetChange .bottom table tbody tr em i{
    font-size: 14px;
    margin-left: 0;
    color:#778199;
}

.el-pagination{
    width: 100%;
    height: 50px;
    margin-top: 30px;
    text-align: center;
}
.el-pagination .el-pagination__total{
    margin-left: 10px;
}
.el-date-editor{
  width: 100%;  
}
.box .btns{
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}
.btns span {
    padding: 8px 14px;
    border-radius: 6px;
    color:#fff;
    cursor: pointer;
    background: rgba(3, 240, 248, 0.867);
}