*{
    padding:  0;
    margin: 0;
    list-style: none;
}
html,body,#app{
    width: 100%;
    height: 100%;
}
#app{
    display: flex;
    justify-content: space-between;
    background: #F5F6FA;
}
#app .left{
    background: #fff;
    width: 250px;
    height: 100%;
}
#app .right{
    flex: 1;
    overflow-y: scroll;
}
.left ul{
    width: 100%;
    box-sizing: border-box;
    padding: 0 6px;
}
.left ul li{
    width: 100%;
    height: 40px;
    overflow: hidden;
    line-height: 40px;
    font-size: 14px;
    color: #4E4E4E;
}
.left ul li a{
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #4E4E4E;
    text-decoration: none;
}
.left ul li h6{
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #4E4E4E;
    font-weight: 100;
}   
.el-tree{
    margin-left: 10px;
}