#Supplier{
    width: 100%;
    padding: 37px 40px;
    box-sizing: border-box
}
.top{
    width: 100%;
    padding:  0 0 38px;
    box-sizing: border-box
}
.top h2{
    font-size: 24px;
    line-height: 34px;
    font-family: 'PingFangSC-Medium';
    color:#4E4E4E;
}
.el-breadcrumb .el-breadcrumb__item span{
    color:#B7BBC3;
    font-size: 12px;
    line-height: 18px;
}
.el-tabs div.el-tabs__item{
    color:#B7BBC3;
    font-size: 14px;
}
.el-tabs .el-tabs__item.is-active{
    color:#1D6DFC;
}
.el-tabs__active-bar{
    background-color:#1D6DFC;
}